/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// fonts
$base-font-size: 15;
$base-font: "Roboto", sans-serif;
$heading-font: "Roboto", sans-serif;


// color
$dark-gray: #202020;
$body-color: #707070;
$white: #fff;
$light: #222222;
$black: #000;
$small-black: #333;
$cyan: #848892;

$theme-primary-color: #3693D9;
$theme-primary-color-s2: #FFE600;
$theme-primary-color-s3: #DD584F;
$bg-color:#000;
$bg-color2:#222121;
$bg-color3:#191919;
$body-bg-color: #000;
$section-bg-color: #f3f8ff;
$text-color: #585858;
$text-light-color: #7b7b7b;
$heading-color: #111;
$border-color: #3e3b3b;
$border-color-s2: #e4ebf2;